.su-tab_bar {
	position: relative;
	height: 41px;
	overflow: hidden;
	.su-tab_bar_list {
		position: relative;
		display: inline-block;
		border-bottom: 1px solid @border-color;
		white-space: nowrap;
		transition: transform 0.5s;
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: calc(var(--target-width, 0) * 1px);
			left: calc(var(--target-left, -299) * 1px);
			bottom: -1px;
			height: 2px;
			background-color: @primary;
			transition: left 0.5s, width 0.1s;
		}
	}
	.su-tab_prev {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 1px;
		width: 24px;
		text-align: center;
		line-height: 40px;
		vertical-align: middle;
		background-color: #fff;
		box-shadow: @box-shadow;
		cursor: pointer;
		&::after{
			content: '<';
		}
	}
	.su-tab_next {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 1px;
		width: 24px;
		text-align: center;
		line-height: 40px;
		vertical-align: middle;
		background-color: #fff;
		box-shadow: @box-shadow;
		cursor: pointer;
		&::after{
			content: '>';
		}
	}
}
.su-tab_bar_label {
	display: inline-block;
	padding: 0 16px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	&.su-tab_bar_label_active {
		color: @primary;
	}
	&.su-tab_bar_label_disabled {
		color: @disabled;
		cursor: not-allowed;
	}
}
